doctype html
html
    head
        title Starbucks - The Best Coffee and Expresso Drinks
        meta(charset="utf-8")
        link(rel="stylesheet", href="./css/estilos.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    body
        header
            img.logo(src="./imagenes/header/logo.png")

            a.iniciarSesion(href="#") Sign in
            .buscardor
                img.buscarProductos(src="./imagenes/header/search.png")
                img.localizacion(src="./imagenes/header/localizacion.png")
                img.menu(src="./imagenes/header/menu.png")

            
        main
            h1 New for the Holiday
            p jsbdhfgkjbdfkgjsbfkjghdfh
            a.boton(href="#") LEARN MORE          
        
        section
            img.fotoNegra(src="./imagenes/MSR-chalk-background.jpg")
            img.fotoEstrella(src="./imagenes/msr3_usen_logo.svg")
        footer

